
:global(.margin-bottom--med ){
  margin-bottom: 25px;
}

:global(.reserve-warning ){
  color: $orange3;
  padding: 8px;
}

:global(.flex-end ){
  justify-content: flex-end;
}

:global(.flex-row-around ){
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:global(.flex-column-start ){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

:global(.flex-column-center ){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:global(.flex-row-center ){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



// For misc spacing, etc:global(. add )helpers here
