.container {
  /* placeholder */
  text-align: left;
}
.formHeader {
  /* placeholder */
}
.form {
  /* placeholder */
  :global(.formGroup) {
    border: none;
  }
  label {
    text-align: left;
  }
}
.form-inputPreferences {
  /* placeholder */
  width: 80%;
  min-height: 10vh;
  margin-top: 1rem;
}
.form-inputPreferencesLabel {
  /* placeholder */
}
.form-inputButton {
  @mixin buttonVariant $primaryBlue, 0.5rem, 1rem;
  color: white;
}
