/*Colors*/
/*orange: #E66E1C;*/
/*header-gray: #3C3C3C;*/
/*blue: #185FAC;*/
/*font-gray: #464749;*/

.App {
  text-align: center;
}

.App-header {
  background-color: #3C3C3C;
  height: 70px;
  /*padding: 20px;*/
  border-bottom: 5px solid #E66E1C;
  color: white;
  /*hide on scroll*/
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Logo {
  margin: 15px auto;
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

.underline {
  text-decoration: underline;
}

.solutions {
  // background-color: #185FAC;
  background-color: rgb(6, 32, 61);
  padding: 10px 0;
}

.white {
  color: #FFF;
  // color: rgb(238, 148, 148);
}


