/*Colors*/
.base-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.App-footer {
  background-color: #0c1a2b;
  height: 45px;
  vertical-align: bottom;
  line-height: 45px;
  border-top: 5px solid #E66E1C;
  color: white; }

/* NAVBAR */
.App-header {
  background-color: #0c1a2b;
  height: 70px;
  /*padding: 20px;*/
  border-bottom: 5px solid #E66E1C;
  color: white;
  /*hide on scroll*/
  display: flex;
  flex-direction: row;
  justify-content: center; }

.navbar {
  position: fixed;
  height: 70px;
  width: 50vw;
  min-width: 275px;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar a {
  color: #fff; }

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e; }

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none; }

.navbar .navbar-right {
  float: right; }

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px; }

#loader {
  width: 100px;
  display: none; }

/* Register */
body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif; }

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee; }

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px; }

.pure-button-primary {
  background-color: #0c1a2b; }

.pure-button-primary:hover {
  background-color: #233e5e; }

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b; }

.app {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* Eth-Memphis */
/* Prospectus aka About*/
.prospectus {
  text-align: center; }

.Logo {
  margin: 15px auto;
  height: auto;
  width: auto;
  z-index: 5; }

.underline {
  text-decoration: underline; }

.what {
  background-color: #474747;
  color: #FFF; }

.why {
  background-color: white;
  color: #3C5BBE; }

.who {
  background-color: white;
  color: #464749; }

.how {
  background-color: #474747;
  color: #FFF; }

.steps {
  background-color: #474747;
  color: #FFF; }

.problems {
  background-color: white;
  color: #464749; }

.what__card-font {
  font-weight: 300;
  font-size: 26px; }

.why__card-font {
  font-weight: 300;
  font-size: 14px; }

.who__card-font {
  font-weight: 300;
  font-size: 18px; }

.how__card-font {
  font-weight: 300;
  font-size: 14px; }

.steps__card-font {
  font-weight: 300;
  font-size: 14px; }

.solutions {
  background-color: white;
  color: #464749; }

p {
  font-family: Titillium Web, sans-serif; }

.paragraph-white, .paragraph-gray {
  margin-left: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375; }

.paragraph-white {
  color: white; }

.paragraph-gray {
  color: #464749; }

.heading {
  font-family: Segoe UI, Arial, sans-serif;
  padding: .75em;
  font-size: 5rem;
  line-height: 1.125;
  text-align: center;
  font-weight: 300;
  max-width: 100%; }

h2, h3 {
  font-family: PT Sans Narrow; }

.bold {
  font-weight: bold; }

.hero-img {
  height: 60vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle; }

.blue-web {
  background-image: url("../images/blue-web.jpeg"); }

.blockchain {
  background-image: url("../images/blockchain-technologies.jpg"); }

.blue-world-dots {
  background-image: url("../images/blue-world-dots.jpeg"); }

.exchange-building {
  background-image: url("../images/exchange-building.jpg");
  background-position: top; }

.image-container {
  margin-top: 24px;
  margin-bottom: 48px; }

.image {
  margin: auto;
  display: block;
  height: auto;
  max-width: 100%; }

/*# sourceMappingURL=App.css.map */
