@import "Variables";
@import "Typography";
@import "BaseLayout";
@import "Sections";
@import "Helpers";
@import "Register";

//Base styles and components
body,
.pure-g [class*=pure-u] {
  font-family: $main-font;
}

h1, h2, h3 {
  font-family: $body-font;
}

p {
  font-family: $header-font;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.content-card {
  border: solid 1px black;
  padding: 20px;
  flex: 1;
  background-color: white;
  color: $gray;
  p {
    font-size: 18px;
  }
  li {
    padding: 10px;
    font-size: 16px;
    &:nth-child(even) {
      background-color: #EAEAEA;
    }
    &:nth-child(odd) {
      background-color: #D1D1D1;
    }
  }
  @media (min-width: $tablet) {
    flex-basis: 25%;
  }
}

.content-card--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  @media (min-width: $tablet) {
    justify-content: space-around;
    align-content: space-around;
  }
  ul {
    font-size: 14px;
    list-style: none;
    margin: 0;
  }
  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#loader {
  width: 100px;
  display: none;
}

//Images
.image-md {
  height: 250px;
  width: auto;
  @media (min-width: $tablet) {
    height: 300px;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  span {
    font-weight: 900;
    margin-top: 5px;
  }
}

.hero-pattern {
  background-image: url("../images/bluepattern.jpg");
}

.image {
  margin: auto;
  display: block;
  height: auto;
  // width: 576px;
  max-width: 100%;
}

.img-md {
  width: 500px;
  height: 100%;
}

.image-sml {
  height: 140px;
  width: auto;
}

// Home page
.home {
  background-image: url('../images/movement.jpg');
  background-position: center;
  // height: 92.5vh;
  height: calc(100vh - 150px);
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (min-width: $tablet) {
    height: calc(100vh - 133px);
  }
}

.home:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 2;
  background: rgba(0,0,0,.5);
  content: "";
}

.register-message {
  // position: absolute;
  z-index: 3;
  color: white;
  margin: 10vh 0;
  padding: 0 20px;
  font-size: 20px;
  @media (min-width: $mobile) {
    font-size: 30px;
  }
  @media (min-width: $tablet) {
    font-size: 40px;
  }
}

  /* Eth-Memphis */

  // @media screen and (min-width: 1326px){
  //   .Container {
  //     background-color: gray;
  //     display: grid;
  //     grid-template-columns: repeat(3, 2fr);
  //     gridAutoRow: '60px 60px 60px';
  //     gridAutoColumn: '90px 90px 90px';
  //     gridAutoFlow: 'row';
  //     alignItems: 'start';
  //     justifyItems: '';
  //     gridTemplateAreas: '';
  //     alignContent: 'center';
  //   }
  // }

  // @media screen and (max-width: 1325px) and (min-width: 911px) {
  //     .Container {
  //         background-color: lavender;
  //         display: grid;
  //         grid-template-columns: repeat(2, 2fr);
  //         gridAutoRow: '60px 60px 60px';
  //         gridAutoColumn: '90px 90px 90px';
  //         gridAutoFlow: 'row';
  //         alignItems: 'start';
  //         justifyItems: '';
  //         gridTemplateAreas: '';
  //         alignContent: 'center';
  //     }
  // }


  // @media screen and (max-width: 910px) {
  //   .Container {
  //     background-color: lightgreen;
  //     display: grid;
  //     grid-template-columns:  2fr;
  //     gridAutoRow: '60px 60px 60px';
  //     gridAutoColumn: '90px 90px 90px';
  //     gridAutoFlow: 'row';
  //     alignItems: 'start';
  //     justifyItems: '';
  //     gridTemplateAreas: '';
  //     alignContent: 'center';
  //   }
  // }

// Grommet Stuff

.grommetux-box--pad-large {
  display: flex!important;
  justify-content: center!important;
}

.grommetux-section {
  padding: 15px!important;
}

//Home page

.hero-img {
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  // display: table-cell;
  vertical-align: middle;
}

.hero-text {
  color: white;
  font-size: 30px;
  padding: 0px 25px;
  @media (min-width: $tablet) {
    font-size: 60px;
    margin-top: 50px;
  }
}

/*
.exchange-building {
  background-image: url('../images/exchange-building.jpg');
  background-position: top;
}*/
