/*Colors*/
.what__card-font {
  font-weight: 300;
  font-size: 26px;
  border: solid 1px #1b75bb; }
  .what__card-font h3 {
    width: 100%;
    text-align: center;
    color: #464749; }

.why__card-font {
  font-weight: 300;
  font-size: 14px; }

.who__card-font {
  font-weight: 300;
  font-size: 18px; }

.steps__card-font {
  font-weight: 300;
  font-size: 14px;
  border: solid 1px #3675B6; }

.paragraph-white, .paragraph-gray {
  margin-left: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375; }
  @media (min-width: 768px) {
    .paragraph-white, .paragraph-gray {
      font-size: 18px; } }

.paragraph-white {
  color: white; }

.paragraph-gray {
  color: #464749; }

.heading {
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  padding: 25px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 700; }
  @media (min-width: 768px) {
    .heading {
      font-size: 35px; } }

h2, h3 {
  font-family: "PT Sans Narrow", serif; }

.how__card-font {
  font-size: 14px;
  padding: 10px;
  border: solid 1px #1b75bb; }
  .how__card-font strong {
    font-size: 20px; }

/*Colors*/
.what__card-font {
  font-weight: 300;
  font-size: 26px;
  border: solid 1px #1b75bb; }
  .what__card-font h3 {
    width: 100%;
    text-align: center;
    color: #464749; }

.why__card-font {
  font-weight: 300;
  font-size: 14px; }

.who__card-font {
  font-weight: 300;
  font-size: 18px; }

.steps__card-font {
  font-weight: 300;
  font-size: 14px;
  border: solid 1px #3675B6; }

.paragraph-white, .paragraph-gray {
  margin-left: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375; }
  @media (min-width: 768px) {
    .paragraph-white, .paragraph-gray {
      font-size: 18px; } }

.paragraph-white {
  color: white; }

.paragraph-gray {
  color: #464749; }

.heading {
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  padding: 25px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 700; }
  @media (min-width: 768px) {
    .heading {
      font-size: 35px; } }

h2, h3 {
  font-family: "PT Sans Narrow", serif; }

.how__card-font {
  font-size: 14px;
  padding: 10px;
  border: solid 1px #1b75bb; }
  .how__card-font strong {
    font-size: 20px; }

.traveler__section h3 {
  padding: 0 50px;
  color: #1b75bb;
  font-size: 25px; }
.traveler__section h2 {
  padding: 0 50px;
  color: white;
  font-size: 25px; }

.hotel-wrapper {
  background-color: #808080;
  color: #FFFFFF; }
  .hotel-wrapper h3 {
    color: #3C3C3C; }

.exchange-building__section {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .exchange-building__section {
      flex-direction: row; } }
  @media (min-width: 992) {
    .exchange-building__section {
      align-items: flex-start; } }
  .exchange-building__section a {
    color: #1b75bb;
    font: 20px; }

.exchange-building__map {
  max-width: 80vw; }
  @media (min-width: 768px) {
    .exchange-building__map {
      max-width: 40vw; } }

.problems {
  background-color: #1a3a5a;
  color: white; }

.solutions {
  background-color: #FFFFFF;
  color: #464749; }

.steps__section {
  background-color: #474747;
  color: #FFFFFF;
  padding: 15px; }

/* Prospectus aka About*/
.what {
  background-color: #474747;
  color: #FFFFFF; }

.why {
  background-color: #1b75bb;
  color: #FFFFFF; }

.who {
  background-color: #FFFFFF;
  color: #464749; }

.how {
  background-color: #474747;
  color: #FFFFFF; }

/*Colors*/
.margin-bottom--med {
  margin-bottom: 25px; }

.reserve-warning {
  color: #E66E1C;
  padding-top: 15px; }

body,
.pure-g [class*=pure-u] {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Oswald", "Arial Narrow", sans-serif; }

p {
  font-family: "Titillium Web", sans-serif; }

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee; }

.base-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

.textbox {
  margin: 25px 0 0 0;
  background-color: #1b75bb;
  padding: 20px;
  color: white;
  line-height: 1.5;
  border: solid 1px white; }
  .textbox h2 {
    font-size: 25px; }
  .textbox p {
    font-size: 15px; }
    @media (min-width: 768px) {
      .textbox p {
        font-size: 18px; } }

.content-card {
  border: solid 1px black;
  padding: 20px;
  flex: 1;
  background-color: white;
  color: #474747; }
  .content-card p {
    font-size: 18px; }
  .content-card li {
    padding: 10px;
    font-size: 16px; }
    .content-card li:nth-child(even) {
      background-color: #EAEAEA; }
    .content-card li:nth-child(odd) {
      background-color: #D1D1D1; }
  @media (min-width: 768px) {
    .content-card {
      flex-basis: 25%; } }

.content-card--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .content-card--wrapper {
      justify-content: space-around;
      align-content: space-around; } }
  .content-card--wrapper ul {
    font-size: 14px;
    list-style: none;
    margin: 0; }
  @media (min-width: 768px) {
    .content-card--wrapper {
      flex-direction: row;
      flex-wrap: wrap; } }

.section--wrapper {
  padding: 15px; }
  .section--wrapper h3 {
    padding: 0 50px;
    font-size: 20px; }
    @media (min-width: 768px) {
      .section--wrapper h3 {
        font-size: 25px; } }

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px; }

.pure-button-primary {
  background-color: #0c1a2b; }

.pure-button-primary:hover {
  background-color: #233e5e; }

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b; }

.App-footer {
  background-color: white;
  color: #464749;
  padding: 15px;
  font-size: 16px;
  border-top: solid 1px #474747;
  bottom: 0;
  z-index: 3; }

/* NAVBAR */
nav {
  display: flex !important;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: solid 1px #474747; }
  @media (min-width: 768px) {
    nav {
      flex-direction: row; }
      nav .Logo {
        padding-left: 25px; }
      nav .nav-items {
        padding-right: 25px; } }

.navbar a {
  color: #fff; }

/* Hannah: I have removed this, because changing a font weight on an action causes the page to jump
because it has not allocated that space. Maybe add an underline on hover instead? If you really want the
font weight to change, I can trick it another way with nesting
*/
a:focus,
a:active {
  font-weight: 700; }

a:hover {
  color: #E66E1C; }

.navbar .pure-menu-heading,
.navbar .header-menu-link {
  font-weight: bold;
  text-transform: none; }

.navbar .navbar-right {
  float: right; }

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px; }

.pure-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  text-transform: uppercase;
  color: #565d64;
  padding: .5em 1em; }

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992) {
    .nav-items {
      padding-right: 10px; } }

#loader {
  width: 100px;
  display: none; }

.image-md {
  height: 250px;
  width: auto; }
  @media (min-width: 768px) {
    .image-md {
      height: 300px; } }

.Logo img {
  width: 180px;
  height: auto;
  padding: 7px 5px 0px 5px; }

.image-container {
  display: flex;
  flex-direction: column; }
  .image-container span {
    font-weight: 900;
    margin-top: 5px; }

.hero-pattern {
  background-image: url("../images/bluepattern.jpg"); }

.image {
  margin: auto;
  display: block;
  height: auto;
  max-width: 100%; }

.img-md {
  width: 500px;
  height: 100%; }

.image-sml {
  height: 140px;
  width: auto; }

.home {
  background-image: url("../images/movement.jpg");
  background-position: center;
  height: 92.5vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.home:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  content: ""; }

.register-message {
  display: absolute;
  z-index: 3;
  font-size: 2px;
  color: white;
  font-size: 20px;
  margin-top: 18vh;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .register-message {
      font-size: 40px; } }

/* Register */
.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: url("../images/room.jpg");
  background-position: cover;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  background-size: cover;
  margin-top: 80px; }

.reserve, .settle, .check-available, .get-room-info, .access {
  background-color: white;
  padding: 15px 25px;
  margin-top: 40px; }
  @media (min-width: 768px) {
    .reserve, .settle, .check-available, .get-room-info, .access {
      padding: 30px 50px; } }
  .reserve fieldset, .settle fieldset, .check-available fieldset, .get-room-info fieldset, .access fieldset {
    background-color: white;
    padding: 25px; }
    .reserve fieldset h1, .settle fieldset h1, .check-available fieldset h1, .get-room-info fieldset h1, .access fieldset h1 {
      font-size: 35px;
      color: #474747; }
      @media (min-width: 768px) {
        .reserve fieldset h1, .settle fieldset h1, .check-available fieldset h1, .get-room-info fieldset h1, .access fieldset h1 {
          font-size: 45px; } }

.settle {
  margin-bottom: 40px; }

/* Eth-Memphis */
.grommetux-box--pad-large {
  display: flex !important;
  justify-content: center !important; }

.grommetux-section {
  padding: 15px !important; }

.hero-img {
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle; }

.hero-text {
  color: white;
  font-size: 30px;
  padding: 0px 25px; }
  @media (min-width: 768px) {
    .hero-text {
      font-size: 60px;
      margin-top: 50px; } }

/*
.exchange-building {
  background-image: url('../images/exchange-building.jpg');
  background-position: top;
}*/

/*# sourceMappingURL=App.css.map */
