@import "Variables";


//Base styles and components
.base-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.textbox {
  margin: 25px 0 0 0;
  background-color: $logo-blue;
  padding: 20px;
  color: white;
  line-height: 1.5;
  border: solid 1px white;
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
    @media (min-width: $tab) {
      font-size: 18px;
    }
  }
}

.content-card {
  border: solid 1px black;
  padding: 20px;
  flex: 1;
  background-color: white;
  color: $gray;
  p,
  li {
    font-size: 18px;
  }

  li {
    padding: 10px 0;

    &:nth-child(even) {
      background-color: #EAEAEA;
    }

    &:nth-child(odd) {
      background-color: #D1D1D1;
    }
  }

  @media (min-width: $tab) {
    flex-basis: 25%;
  }
}

.content-card--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tab) {
    justify-content: space-around;
    align-content: space-around;
  }

  ul {
    font-size: 14px;
    list-style: none;
    margin: 0;
  }

  @media (min-width: $tab) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.section--wrapper {
  padding: 15px;

  h3 {
    padding: 0 50px;
    font-size: 25px;
  }
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.hero-pattern {
  background-image: url("../images/bluepattern.jpg");
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

//footer
.App-footer {
  background-color: white;
  color: $font-gray;
  padding: 15px;
  font-size: 16px;
  border-top: solid 1px #474747;
}

/* NAVBAR */
nav {
  display: flex!important;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: solid 1px $gray;
  @media (min-width: $tab) {
    flex-direction: row;
    .Logo {
      padding-left: 25px;
    }
    .nav-items {
      padding-right: 25px;
    }
  }
}

.navbar a {
  color: #fff;
}

/* Hannah: I have removed this, because changing a font weight on an action causes the page to jump
because it has not allocated that space. Maybe add an underline on hover instead? If you really want the
font weight to change, I can trick it another way with nesting
a:focus,
a:active {
  font-weight: 700;
}*/

a:hover {
  color: $orange3;
}

.navbar .pure-menu-heading,
.navbar .header-menu-link {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $desk) {
    padding-right: 10px;
  }
}

#loader {
  width: 100px;
  display: none;
}

//Images
.image-md {
  height: 300px;
  width: auto;
}

.Logo img {
  width: 180px;
  height: auto;
  padding: 7px 5px 0px 5px;
}

.image-container {
  display: flex;
  flex-direction: column;
  span {
    font-weight: 900;
    margin-top: 5px;
  }
}

.image {
  margin: auto;
  display: block;
  height: auto;
  // width: 576px;
  max-width: 100%;
}

// Home page
.home {
  background-image: url('../images/movement.jpg');
  background-position: center;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 2;
  background: rgba(0,0,0,.5);
  content: "";
}

.register-message {
  display: absolute;
  z-index: 3;
  font-size: 2px;
  color: white;
  font-size: 20px;
  padding: 0 20px;
  @media (min-width: $tab) {
    font-size: 40px;
  }
}

/* Register */
.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../images/room.jpg");
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 80px;
}

.reserve fieldset {
  background-color: white;
  padding: 25px 15px;
  margin-top: 40px;
  @media (min-width: $tab) {
    padding: 50px 100px;
  }

  h1 {
    font-size: 35px;
    color: $gray;
    @media(min-width: $tab) {
      font-size: 45px;
    }
  }
}


  /* Eth-Memphis */

  // @media screen and (min-width: 1326px){
  //   .Container {
  //     background-color: gray;
  //     display: grid;
  //     grid-template-columns: repeat(3, 2fr);
  //     gridAutoRow: '60px 60px 60px';
  //     gridAutoColumn: '90px 90px 90px';
  //     gridAutoFlow: 'row';
  //     alignItems: 'start';
  //     justifyItems: '';
  //     gridTemplateAreas: '';
  //     alignContent: 'center';
  //   }
  // }

  // @media screen and (max-width: 1325px) and (min-width: 911px) {
  //     .Container {
  //         background-color: lavender;
  //         display: grid;
  //         grid-template-columns: repeat(2, 2fr);
  //         gridAutoRow: '60px 60px 60px';
  //         gridAutoColumn: '90px 90px 90px';
  //         gridAutoFlow: 'row';
  //         alignItems: 'start';
  //         justifyItems: '';
  //         gridTemplateAreas: '';
  //         alignContent: 'center';
  //     }
  // }


  // @media screen and (max-width: 910px) {
  //   .Container {
  //     background-color: lightgreen;
  //     display: grid;
  //     grid-template-columns:  2fr;
  //     gridAutoRow: '60px 60px 60px';
  //     gridAutoColumn: '90px 90px 90px';
  //     gridAutoFlow: 'row';
  //     alignItems: 'start';
  //     justifyItems: '';
  //     gridTemplateAreas: '';
  //     alignContent: 'center';
  //   }
  // }

/* Prospectus aka About*/

.prospectus {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.what {
  background-color: $gray;
  color: #FFF;
}

.why {
  background-color: $logo-blue;
  color: white;
  padding: 15px;

}

.who {
  background-color: white;
  color: $font-gray;
  padding: 15px;


}

// HOW SECTION //

.how {
  background-color: $gray;
  color: #FFF;
  padding: 15px;
}

.how-section-wrapper {
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $tab) {
    margin: 0 100px;
  }
}

.img-md {
  width: 500px;
  height: 100%;
}


.how__card-font {
  font-size: 14px;
  padding: 10px;
  border: solid 1px $logo-blue;

  strong {
    font-size: 20px;
  }
}

.steps__section {
  background-color: $gray;
  color: #FFF;
  padding: 15px;
}

.image-sml {
  height: 140px;
  width: auto;
}


.problems {
  background-color: #1a3a5a;
  color: white;
  padding: 25px;
}

.what__card-font {
  font-weight: 300;
  font-size: 26px;
  border: solid 1px $logo-blue;
  h3 {
    width: 100%;
    text-align: center;
    color: rgb(70, 71, 73);
  }
}

.why__card-font {
  font-weight: 300;
  font-size: 14px;
}

.who__card-font {
  font-weight: 300;
  font-size: 18px;
}



.steps__card-font {
  font-weight: 300;
  font-size: 14px;
  border: solid 1px #3675B6;

}

.solutions {
  background-color: white;
  color: $font-gray;
  padding: 25px;

  // background-color: rgb(6, 32, 61);
  // padding: 10px 0;
}



%paragraph {

  // max-width: 576px;
  margin-left: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.375;
  @media (min-width: $tab) {
    font-size: 18px;
  }
}

.paragraph-white {
  @extend %paragraph;
  color: white;
}

.paragraph-gray {
  @extend %paragraph;
  color: $font-gray;
}

.grommetux-box--pad-large {
  display: flex!important;
  justify-content: center!important;
}

.heading {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  padding: 25px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  @media(min-width: $tab) {
    font-size: 35px;
  }
}

h2, h3 {
  font-family: 'PT Sans Narrow';
}

.grommetux-section {
  padding: 15px!important;
}

.hero-img {
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
}

.hero-text {
  color: white;
  font-size: 30px;
  padding: 0px 25px;
  @media (min-width: $tab) {
    font-size: 60px;
    margin-top: 50px;
  }
}

/*
.exchange-building {
  background-image: url('../images/exchange-building.jpg');
  background-position: top;
}*/
