.base-layout {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header {
  width: 100vw;
  z-index: 5;
  box-sizing: border-box;
  
}

.header-spacer {
  z-index: 1;
  position: relative;
  height: 84px;
  @media (min-width: $mobile) {
    height: 100px;
  }
  @media (min-width: $tablet) {
    height: 84px;
  }
}

.Logo img {
  width: 180px;
  height: auto;
  padding: 7px 5px 0px 5px;
}

.margin-left {
  // @media (min-width: 375px) {
  //   margin-left: 50px;
  // }
  margin: 0 calc((100vw - 322px)/2);
}

.pure-menu-heading {
  // display: block;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  zoom:1;
  // vertical-align: middle;
  text-transform: uppercase;
  color:#565d64;
  padding:.5em 1em;
}
  
nav {
  display: flex!important;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  box-sizing: border-box;
  width: 100vw;
  overflow: visible;
  background-color: white;
  border-bottom: solid 1px $gray;
  height: 86px;
  @media (min-width: $mobile) {
    height: 102px;
  }
  @media (min-width: $tablet) {
    height: 86px;
  }
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  @media (min-width: $mobile) {
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.nav-menu-button {
  height: 32px;
  width: 32px;
  margin: 10px;
  color: $font-gray;

}

.nav-drop-down {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  z-index: 6;
  // margin: 5px;
  // padding: 5px;
  background-color: white;
  border-bottom: solid 1px $gray;
  border-left: solid 1px $gray;
  width: 130px;
  right: 0;
}

// .drop-down-links {
//   display: flex;
//   flex-direction: column;
//   justify-content: start;
//   align-items: flex-start;
// }

.link-active {
  font-weight: 700;
}

a:hover {
  color: $orange3;
}
  
.footer {
  background-color: white;
  color: $font-gray;
  box-sizing: border-box;
  width: 100vw;
  padding: 15px;
  border-top: solid 1px #474747;
  bottom: 0;
  z-index: 3;
  font-size: 12px;
  @media (min-width: $mobile) {
      font-size: 14px;
  }
}