.base-layout {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header {
  width: 100vw;
  z-index: 5;
  box-sizing: border-box;
}

.header-spacer {
  z-index: 1;
  position: relative;
  height: 102px;
  @media (min-width: $tablet) {
      height: 86px;
  }
}

.Logo img {
  width: 180px;
  height: auto;
  padding: 7px 5px 0px 5px;
}

.pure-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  zoom:1;
  vertical-align: middle;
  text-transform: uppercase;
  color:#565d64;
  padding:.5em 1em;
}
  
nav {
  display: flex!important;
  position: fixed;
  z-index: 3;
  box-sizing: border-box;
  width: 100vw;
  background-color: white;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: solid 1px $gray;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.link-active {
  font-weight: 700;
}

a:hover {
  color: $orange3;
}
  
.footer {
  background-color: white;
  color: $font-gray;
  box-sizing: border-box;
  width: 100vw;
  padding: 15px;
  border-top: solid 1px #474747;
  bottom: 0;
  z-index: 3;
  font-size: 12px;
  @media (min-width: $mobile) {
      font-size: 14px;
  }
}