.base-layout {
    // height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

//   .header {

//   }

.header-spacer {
    z-index: 1;
    position: relative;
    height: 120px;
    @media (min-width: $tablet) {
        height: 86px;
    }
}

  .Logo img {
    width: 180px;
    height: auto;
    padding: 7px 5px 0px 5px;
  }

  .pure-menu-heading {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    zoom:1;
    vertical-align: middle;
    text-transform: uppercase;
    color:#565d64;
    padding:.5em 1em;
  }
  
/* NAVBAR */
nav {
    display: flex!important;
    position: fixed;
    z-index: 3;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: solid 1px $gray;
    @media (min-width: $tablet) {
      flex-direction: row;
      .Logo {
        padding-left: 25px;
      }
      .nav-items {
        padding-right: 25px;
      }
    }
  }
  
  .navbar a {
    color: #fff;
  }
  
  /* Hannah: I have removed this, because changing a font weight on an action causes the page to jump
  because it has not allocated that space. Maybe add an underline on hover instead? If you really want the
  font weight to change, I can trick it another way with nesting
  */
  a:focus,
  a:active {
    font-weight: 700;
  }
  
  a:hover {
    color: $orange3;
  }
  
  .navbar .pure-menu-heading,
  .navbar .header-menu-link {
    font-weight: bold;
    text-transform: none;
  }
  
  .navbar .navbar-right {
    float: right;
  }
  
  .navbar .uport-logo {
    height: 16px;
    margin-right: 10px;
  }
  

  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: $desk) {
      padding-right: 10px;
    }
  }

  //footer
.footer {
    background-color: white;
    color: $font-gray;
    padding: 15px;
    font-size: 16px;
    border-top: solid 1px #474747;
    bottom: 0;
    z-index: 3;
  }