.contact-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
}

.contact-card {
  background-color: white;
  overflow: hidden;
  margin: 40px 20px 0;
  padding: 30px;
  z-index: 4;
//   @media (min-width: $mobile) {
//     padding: 15px 25px;
//     max-width: 80vw;
//   }
//   @media (min-width: $tablet) {
//     padding: 30px 50px;
//     max-width: 60vw;
//   }
}

.avatar-image-container {
    height: auto;
    width: 250px;
    margin-bottom: 10px;
}

.avatar-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}