@import "Variables";

.exchange-building__section {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  @media (min-width: $tab) {
    flex-direction: row;
  }
  @media (min-width: $desk) {
    align-items: flex-start;
  }
  a {
    color: $logo-blue;
    font: 20px;
  }
}

.exchange-building__map {
  max-width: 80vw;
  @media (min-width: $tab) {
    max-width: 40vw;
  }
}
