@import "Variables";

.margin-bottom--med {
  margin-bottom: 25px;
}

.reserve-warning {
  color: $orange3;
  padding-bottom: 15px;
}

.flex-end {
  justify-content: flex-end;
}

// For misc spacing, etc. add helpers here 
