@import "Variables";

.margin-bottom--med {
  margin-bottom: 25px;
}

.reserve-warning {
  color: $orange3;
  padding-bottom: 15px;
}

.flex-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// For misc spacing, etc. add helpers here 
