@import "Variables";
@import "Typography";

// Traveler Section

.prospectus {
  // width: 100vw;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.heading-drop-down-container {
  width: 100%;
}

.drop-down-contents {
  padding-bottom: 40px;

}

.heading-clickable {
  cursor: pointer;
  h2, h3 {
    margin: 0;
  }
}

.text-shadow-raised {
  text-shadow: 5px 2px 5px rgba(0, 0, 0, .4);
}

.text-shadow-lowered {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, .4);
}

.download-button {
  text-decoration: none;
  margin: 0 10px;
  font-weight: 900;
  background-color: rgb(27, 117, 187);
  padding: 5px 15px;
  color: white;
  text-transform: uppercase;
}

.section--wrapper {
  padding: 15px;
  h3 {
    padding: 0 50px;
    font-size: 20px;
    @media (min-width: $tablet) {
      font-size: 25px;
    }
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.textbox {
  background-color: $logo-blue;
  padding: 20px;
  color: white;
  line-height: 1.5;
  border: solid 1px white;
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
    @media (min-width: $tablet) {
      font-size: 18px;
    }
  }
}

.what {
  background-color: $gray;
  color: $white;
}

.why {
  background-color: $logo-blue;
  color: $white;
}

.problems {
  // background-color: #1a3a5a;
  // color: white;
  background-color: $white;
  color: $font-gray;
}

.solutions {
  // background-color: $white;
  // color: $font-gray;
  background-color: #1a3a5a;
  color: white;
}

.who {
  background-color: $white;
  color: $font-gray;
}

.how {
  background-color: $gray;
  color: $white;
}

.traveler {
  padding: 0 20px;
  box-sizing: border-box;
  color: $logo-blue;
    // font-size: 25px;
  // h2 {
  //   padding: 0 50px;
  //   color: $logo-blue;
  //   // font-size: 25px;
  // }
}

.hotel-wrapper {
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #808080;
  color: $white;
  // h3 {
  //   color: $header-gray;
  // }
}

.steps__section {
  background-color: $gray;
  color: $white;
  // padding: 15px;
}

.exchange {
  background-color: $white;
  color: $font-gray;
}

.exchange-building__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  // @media (min-width: $tablet) {
  //   flex-direction: row-reverse;
  // }
  @media (min-width: $desk) {
    align-items: flex-start;
  }
  a {
    color: $logo-blue;
    font: 20px;
  }
}

.exchange-building__map {
  max-width: 80vw;
  @media (min-width: $tablet) {
    max-width: 40vw;
  }
}

.proof-of-concept {
  background-color: $logo-blue;
  color: $white;
}

.early-adopters {
  background-color: white;
  color: #1a3a5a;
}

