@import "Variables";
@import "Typography";

// Traveler Section

.prospectus {
  // width: 100vw;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.heading-clickable {
  cursor: pointer;
}

.text-shadow-raised {
  text-shadow: 5px 2px 5px rgba(0, 0, 0, .4);
}

.text-shadow-lowered {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, .4);
}

.section--wrapper {
  padding: 15px;
  h3 {
    padding: 0 50px;
    font-size: 20px;
    @media (min-width: $tablet) {
      font-size: 25px;
    }
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

/* Prospectus aka About*/
.what {
  background-color: $gray;
  color: $white;
}

.why {
  background-color: $logo-blue;
  color: $white;
}

.problems {
  // background-color: #1a3a5a;
  // color: white;
  background-color: $white;
  color: $font-gray;
}

.solutions {
  // background-color: $white;
  // color: $font-gray;
  background-color: #1a3a5a;
  color: white;
}

.who {
  background-color: $white;
  color: $font-gray;
}

.how {
  background-color: $gray;
  color: $white;
}

.traveler {
  h3 {
    padding: 0 50px;
    color: $logo-blue;
    // font-size: 25px;
  }
  h2 {
    padding: 0 50px;
    color: $logo-blue;
    // font-size: 25px;
  }
}

.hotel-wrapper {
  background-color: #808080;
  color: $white;
  h3 {
    color: $header-gray;
  }
}

.steps__section {
  background-color: $gray;
  color: $white;
  // padding: 15px;
}

.exchange {
  background-color: $white;
  color: $font-gray;
}

.exchange-building__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $tablet) {
    flex-direction: row-reverse;
  }
  @media (min-width: $desk) {
    align-items: flex-start;
  }
  a {
    color: $logo-blue;
    font: 20px;
  }
}

.exchange-building__map {
  max-width: 80vw;
  @media (min-width: $tablet) {
    max-width: 40vw;
  }
}

.proof-of-concept {
  background-color: $logo-blue;
  color: $white;
}

.early-adopters {
  background-color: white;
  color: #1a3a5a;
}

