@import "Variables";

.traveler__section {
  padding: 15px;
  h3 {
    padding: 0 50px;
    color: $logo-blue;
    font-size: 25px;
  }
}

.traveler__blocks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  ul {
    font-size: 14px;
    list-style: none;
    margin-left: 0;
  }
  @media (min-width: $tab) {
    flex-direction: row;
  }
}

.traveler__block {
  border: solid 1px black;
  padding: 20px;
  flex: 1;
}
