/*Colors*/
$orange1: rgb(231, 158, 109);
$orange2: rgb(226, 124, 57);
$orange3: #E66E1C;
$white: #FFFFFF;
// $logo-blue: #3C5BBE;
$logo-blue: #1b75bb;
$blue1: rgb(128, 178, 231);
$blue2: #185FAC;
$blue3: rgb(13, 71, 133);
$font-gray: #464749;
$header-gray: #3C3C3C;
$gray: rgb(71, 71, 71);
$navy-blue: #0c1a2b;
$parchment: rgb(236, 236, 236);

//Break points
$mobile: 425px;
$tablet: 768px;
$desk: 992;
$xldesk: 1200px;

//Heights
$headerHeight: 86px;
$headerTabletHeight: 102px;
$footerHeight: 45px;