.container {
    z-index: 30;
    width: 50vw;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    /* max-height: 20vh; */
    :global(.formGroup) input {
        width: 80%;
    }
    :global(.formGroup):not(last-child) {
        margin-bottom: 0;
    }

    > :global(.formGroup) * label {
        display: none;
    }
}
.searchBox-container {
    /* placeholder */
    position: fixed;
    @mixin cardBackground;
    width: 54.15vw;
}
.citySearch {
    grid-column: 1 / 6;
    flex: 6 0 40%;
}
.container-header {
    color: $fontColorHeader;
    grid-column: 1 / 13;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.searchBar-container {
    display: flex;
    flex-flow: row nowrap;
    grid-column: 1 / 13;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-around;
    align-items: baseline;
    .citySearch {
        margin-bottom: 0; /* hate doing this, but webpack inheritance isn't working properly */
    }
}
.startDate, .endDate {
    flex: 1 1 30%;
}
.startDate {
    /* placeholder */
    grid-column: 6 / 8;
}
.endDate {
    /* placeholder */
    grid-column: 8 / 10;
}
.searchSubmit {
    grid-column: 10 / 13;
    align-self: center;
    flex: 3 0 25%;
    position: relative;
}
.results {
    /* placeholder */
    grid-column: 1 / 13;
    margin-top: 10vh;
}
.results-container {
    grid-column: 1 / 13;

}
/* :global(.formGroup) {
    flex: 1 1 40%;
} */
.searchSubmitButton {
    @mixin buttonVariant $primaryBlue, 0.75rem, 1rem;
    color: #fff;
    top: 5%;

}
.reservation-container {
    /* placeholder */
}
.reservation-info {
    /* placeholder */
    grid-column: 1 / 13;
    border: 0.1rem solid color($primaryBlue saturation(25%));
}
.travelerForm-container {
    grid-column: 3 / 13;
    text-align: left;
}
.backToSearchResults {
    /* placeholder */
    grid-column: 1 / 13;
    text-align: left;
    margin-bottom: 1rem;
    color: $primaryBlue;
  }
  /* Modal container style that exists outside the Payment component */
.paymentForm-modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0;
  background: color($bgColorDark alpha(0.75));

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    z-index: 10;

    .modalOverlay {
      background: rgba($bgColorDark, .75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modalContainer {
      animation: slide-down .2s ease 1;
      z-index: 1;
    }
  }

}

.citySearch {
    :global(.citySearch-input) {
        position: relative;
        display: inline-block;
    }
    :global(.citySearch-button) {
        padding: 0.7rem;
        @mixin buttonOutlineVariant $primaryBlue;
    }
}