.container {
    background-color: white;
    margin: 20px 10px;
    padding: 15px;
    /*border-bottom: 0.15rem solid color(#fff blackness(30%));*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    &:last-child {
        border-bottom: none;
    }
}
.hotelName, .hotelLocation, .hotelBeds, .hotelPrice, .reserveRoomButton {
    flex: 1 1 15%;
}
.hotelName {
    /* placeholder */
    flex: 0 0 100%;
    text-align: left;
    h4 {
        font-size: calc($fontSize * 1.25);
        color: $fontColorHeader;
    }
}
.hotelImage {
    /* placeholder */
    flex: 1 1 15%;
    img {
        width: 10vw;
    }

}
.hotelLocation {
    /* placeholder */
    span {
        text-transform: capitalize;
    }

}
.hotelBeds {
    /* placeholder */

}
.hotelPrice {
    /* placeholder */

}
.reserveRoomButton {
    /* placeholder */
    margin: 10px;
    @mixin buttonVariant $primaryGreen, 0.5rem, 0.25rem;
    color: #fff;
}
